<div id="info">
  <h1 class="my-5">Home</h1>

  <section class="mx-5">
    <h2 class="mb-4">Test - Phonebook</h2>

    <h5>
      The test is the implementation of a simple phonebook composed of the following screens:
    </h5>
    <p>
      Home <br>
      Contact list <br>
      Add Contact <br>
      Edit Contact <br>
      Delete Contact
    </p>

    <h5>
      Comments:
    </h5>

    <ul>
      <li>A telephone contact contains at least: name, email and telephone</li>
      <li>The list can be public (no login required);</li>
      <li>Contact management functions (Add, Edit, Delete) do not necessarily have to be a page</li>
      <li>Forms actions are expected to be sent via REST API</li>
      <li>If you don't choose to send a form via REST API you can handle the data by localStorage</li>
      <li>Mockups can be used to request data</li>
    </ul>

    <h5>
      Objective:
    </h5>
    <p>
      The intent of the test is to assess your analysis skills, this is an excellent opportunity to show us your
      algorithm
      knowledge and problem-solving skills. In addition, you will be able to show off your skills with pure javascript,
      the most semantic HTML possible, and well-organized CSS.
    </p>

    <h5>
      Delivery:
    </h5>
    <p>
      The test can be sent as a compressed file in this thread or the project link in some versioning tool (github,
      bitbucket);
    </p>

  </section>

</div>

